.DS_Store
.env
__pycache__/
venv/
env/
*.pyc
.idea/
.vscode/
*.egg-info/
dist/
build/
src/__pycache__/
src/*.pyc
src/.DS_Store
logs/
*.log
.flake8
.coverage
.pylintrc
pytest_cache/

# Ignore library dependencies
node_modules/
bower_components/
*.lock

# Ignore Notebooks
*.ipynb
